<div class="container mt-5">
  <strong><h4>map works!</h4></strong>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 </strong>
      <br>
      <p class="bg-info border rounded p-2">
        <strong>Map</strong> 'Video' + Data
      </p>
      <br>
      <p>Message <strong class="text-success">{{showMsg}}</strong> </p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 </strong>
      <br>
      <p class="bg-info border rounded p-2">
        <strong>Map</strong> Data => data * 3
      </p>
      <br>
      <p>Message <strong class="text-success">{{showMsg2}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 </strong>
      <br>
      <p class="bg-info border rounded p-2">
        <strong>Map</strong> Map object data
      </p>
      <br>
      <u id="obsId"></u>
    </div>
  </div>

</div>
