<div class="container mt-5">
  <strong><h4>Merge works!</h4></strong>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <strong>Source - 01 | Tech Chennal(5)  </strong>
      <br>
      <p class="bg-light border rounded p-2">
        <strong>Tech Videos List</strong> 1,2,3,4,5
      </p>
      <br>
    </div>
    <div class="col-md-4">
      <strong>Source - 02 | Comedy Chennal(3)  </strong>
      <br>
      <p class="bg-light border rounded p-2">
        <strong>Comedy Videos List</strong> 1,2,3
      </p>
      <br>
    </div>
    <div class="col-md-4">
      <strong>Source - 03 | News Chennal(4)  </strong>
      <br>
      <p class="bg-light border rounded p-2">
        <strong>News Videos List</strong> 1,2,3,4
      </p>
      <br>
    </div>
  </div>
   <br><br>
   <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Your Channel(Subscriber)</div>
           <div class="card-body">
            <ul id="techId">
              <!-- <li>Videos</li>
              <li>Videos</li>
              <li>Videos</li>
              <li>Videos</li> -->
            </ul>
           </div>
      </div>
   </div>
   </div>
</div>
