<div class="container mt-5">
  <h4>Take,TakeLast,TakeUntil works!</h4>
  <br><br>
  <p>Random Names : 'ashraf','ali','raf','arsalan','youns','dot','abc','def','igh','zxw'</p>
  <div class="row mt-5">
    <div class="col-md-4">
      <strong>Ex - 01 | Take(5)</strong>
      <br>
      <ul id="name1" class="mt-2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | TakeLast(5)</strong>
      <br>
      <ul id="name2" class="mt-2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | TakeUntil()</strong>
      <br>
      <ul id="name3" class="mt-2"></ul>
    </div>
  </div>
</div>
