<div class="container mt-5">
  <h3>Async-Await</h3>
  <div class="row pt-3">
    <div class="col-md-4">
      <strong>Ex -01 : With Promise</strong>
      <br><br>
      <button class="btn btn-primary" onclick="add1()">Buy Laptop</button>
      <br><br>
      <div id="result1">Data</div>
    </div>
    <div class="col-md-4">
      <strong>Ex -02 : With Async/Await</strong>
      <br><br>
      <button class="btn btn-primary">Buy Laptop</button>
      <br><br>
      <div>Data</div>
    </div>
    <div class="col-md-4">
      <strong>Ex -03 : With Fetch Api</strong>
      <br><br>
      <button class="btn btn-primary">Buy Laptop</button>
      <br><br>
      <div>Data</div>
    </div>
  </div>
</div>
