<div class="container mt-5">
  <h4>merge-map works!</h4>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01 | Map  </strong>
      <br><br>
      <p class="bg-light border rounded p-2">
        <strong>Videos </strong> ['Tech','Comedy','News']
      </p>
      <br>
      <ul id="techId">
        <!-- <li>Data</li>
        <li>Data</li>
        <li>Data</li> -->
      </ul>
      <br>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | Map + MergeAll </strong>
      <br><br>
      <p class="bg-light border rounded p-2">
        <strong>Videos </strong> ['Tech','Comedy','News']
      </p>
      <br>
      <ul id="techId2">
        <!-- <li>Data</li>
        <li>Data</li>
        <li>Data</li> -->
      </ul>
      <br>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | MergeMap </strong>
      <br><br>
      <p class="bg-light border rounded p-2">
        <strong>Videos </strong> ['Tech','Comedy','News']
      </p>
      <br>
      <ul id="techId3">
        <!-- <li>Data</li>
        <li>Data</li>
        <li>Data</li> -->
      </ul>
      <br>
    </div>
  </div>
</div>
