<div class="container mt-5">
<div class="row">
  <div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay" routerLink="async-await">
      <h5 class="text-center">Async-Await</h5>
    </div>
  </div>
  <div class="col-md-3">
    <!-- Form-Event  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="form-event">Form-Event</h5>
    </div>
  </div><div class="col-md-3">
    <!-- Interval/Timer -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="interval">Interval/Timer</h5>
    </div>
  </div><div class="col-md-3">
    <!-- Of-From  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="of-from">Of-From</h5>
    </div>
  </div>

</div>

<!-- 2nd row  -->
<div class="row mt-4">
  <div class="col-md-3">
    <!-- toArray  -->
    <div class="bg-ay" routerLink="toArray">
      <h5 class="text-center">toArray</h5>
    </div>
  </div>
  <div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="custom-observable">Custom Observable</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="map">Map</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="pluck">Pluck</h5>
    </div>
  </div>

</div>

<!-- 3nd row  -->
<div class="row mt-4">
  <div class="col-md-3">
    <!-- toArray  -->
    <div class="bg-ay" routerLink="Filter">
      <h5 class="text-center">Filter</h5>
    </div>
  </div>
  <div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="tap">Tap</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="take">Take</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="ertry">Retry</h5>
    </div>
  </div>

</div>

<!-- 4nd row  -->
<div class="row mt-4">
  <div class="col-md-3">
    <!-- toArray  -->
    <div class="bg-ay" routerLink="debounce">
      <h5 class="text-center">DebounceTime</h5>
    </div>
  </div>
  <div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="subject">Subject</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="replay">Replay/Subject</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="async">Async</h5>
    </div>
  </div>

</div>

<!-- 5nd row  -->
<div class="row mt-4">
  <div class="col-md-3">
    <!-- toArray  -->
    <div class="bg-ay" routerLink="concat">
      <h5 class="text-center">Concat</h5>
    </div>
  </div>
  <div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="merge">Merge</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="replay">Replay/Subject</h5>
    </div>
  </div><div class="col-md-3">
    <!-- async-awite  -->
    <div class="bg-ay">
      <h5 class="text-center" routerLink="async">Async</h5>
    </div>
  </div>

</div>
</div>
