<div class="container mt-5">
 <h4>Of and From</h4>
 <br>
 <br>
 <strong>Ex - 01 (OF)</strong>
 <br>
 <br>

 <div class="row">
  <div class="col-md-6">
    <p class="border rounded p-5 bg-info">
      <strong>Data: </strong> OF('ashraf','ali','arsalan')</p>
      <hr>
      <ul id="listId">
      </ul>
  </div>

  <div class="col-md-6">
    <p class="border rounded p-5 bg-info">
      <strong>Data: </strong> OF(&#123;a:'ashraf',b:'ali',c:'arsalan'&#125;)</p>
      <hr>
      <ul id="listId2">
        <li><strong>a : </strong>{{obsMsg.a}}</li>
        <li><strong>b : </strong>{{obsMsg.b}}</li>
        <li><strong>c : </strong>{{obsMsg.c}}</li>
        <li><strong>d : </strong>{{obsMsg.d}}</li>
      </ul>
  </div>
 </div>

 <!-- form operator  -->
 <div class="row">
  <br>
 <strong>Ex - 02 (From)</strong>
 <br>
 <br>
  <div class="col-md-4">
    <p class="border rounded p-5 bg-secondary">
      <br>
      <strong>Array</strong>
      <br>
      <strong>Data: </strong> From(['tailwind','bootstrap','html/css','javascript'])</p>
      <hr>
      <ul id="listId3">
      </ul>
  </div>

  <div class="col-md-4">
    <p class="border rounded p-5 bg-secondary">
      <br>
      <strong>Promise</strong>
      <br>
      <strong>Data: </strong> Promise to Observable</p>
      <hr>
      <ul id="listId4">
      </ul>
  </div>

  <div class="col-md-4">
    <p class="border rounded p-5 bg-secondary">
      <br>
      <strong>String</strong>
      <br>
      <strong>Data: </strong> String to Observable</p>
      <hr>
      <ul id="listId5">
      </ul>
  </div>
 </div>
</div>
